<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jonathan Watkins'Art</title>


  <link media="screen" type="text/css" href="css/lightbox.css" rel="stylesheet">
  <link media="screen" type="text/css" href="css/stylesheet.css" rel="stylesheet">
  <script type="text/javascript" src="js/prototype.js"></script>
  <script type="text/javascript" src="js/scriptaculous.js?load=effects"></script>

  <script type="text/javascript" src="js/lightbox.js"></script>


</head>


<body>

<h1>Portfolio of Jonathan Watkins</h1>

<h3>Sam Fox School of Design &amp; Visual Arts</h2>

<h3>Washington University in Saint Louis</h2>

<h4>JonathanW@samfox.wustl.edu <a title="R&eacute;sum&eacute; of Jonathan Watkins" href="/resume">(R&eacute;sum&eacute;)</a></h3>

<h4>Click on a thumbnail for a larger view, use arrow keys of click to move between images</h3>

<a title="Plato's Tri-Partite Soul&lt;br/&gt;60 x 120 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/plato-1.jpg"><img alt="" src="images/thumbnails/plato-1.jpg" height="80" width="80"></a> <a title="Nude woman&lt;br/&gt;39 x 15 1/2 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Summer, 2005" rel="lightbox[portfolio]" href="images/nude-woman.jpg"><img alt="" src="images/thumbnails/nude-woman.jpg" height="80" width="80"></a><a title="Man with Instrument&lt;br/&gt;19 x 18 in&lt;br/&gt;Charcoal, pastel on paper&lt;br/&gt;Fall, 2003" rel="lightbox[portfolio]" href="images/man-with-instrument.jpg"><img alt="" src="images/thumbnails/man-with-instrument.jpg" height="80" width="80"></a><a title="Self Portrait&lt;br/&gt;14 x 11 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/self-portrait.jpg"><img alt="" src="images/thumbnails/self-portrait.jpg" height="80" width="80"></a><a title="Saint Ann's Church&lt;br/&gt;39 x 30 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Fall, 2005" rel="lightbox[portfolio]" href="images/waterfall.jpg"><img alt="" src="images/thumbnails/waterfall.jpg" height="80" width="80"></a><a title="Study of Man&lt;br/&gt;30 x 24 in&lt;br/&gt;Charcoal on paper&lt;br/&gt;Spring, 2006" rel="lightbox[portfolio]" href="images/study-of-man.jpg"><img alt="" src="images/thumbnails/study-of-man.jpg" height="80" width="80"></a><a title="Murder&lt;br/&gt;11 x 11 in&lt;br/&gt;Pen and ink on watercolor paper&lt;br/&gt;Spring, 2006" rel="lightbox[portfolio]" href="images/murder.jpg"><img alt="" src="images/thumbnails/murder.jpg" height="80" width="80"></a><a title="Section of Museum&lt;br/&gt;18 x 24 in&lt;br/&gt;Pencil on paper&lt;br/&gt;Spring, 2006" rel="lightbox[portfolio]" href="images/section-of-museum.jpg"><img alt="" src="images/thumbnails/section-of-museum.jpg" height="80" width="80"></a><a title="Marriage&lt;br/&gt;23 3/4 x 11 3/4 in&lt;br/&gt;Charcoal on wood&lt;br/&gt;Spring, 2004" rel="lightbox[portfolio]" href="images/marriage.jpg"><img alt="" src="images/thumbnails/marriage.jpg" height="80" width="80"></a><a title="Man Reaching&lt;br/&gt;36 x 24 in&lt;br/&gt;Charcoal on paper&lt;br/&gt;Spring, 2006" rel="lightbox[portfolio]" href="images/man-for-shortened.jpg"><img alt="" src="images/thumbnails/man-for-shortened.jpg" height="80" width="80"></a><a title="World Trade Center&lt;br/&gt;17 x 14 in&lt;br/&gt;Pastel on vellum&lt;br/&gt;Fall, 2003" rel="lightbox[portfolio]" href="images/world-trade-center.jpg"><img alt="" src="images/world-trade-center/plato-1.jpg" height="80" width="80"></a><a title="Iraq War&lt;br/&gt;17 x 14 in&lt;br/&gt;Pastel on vellum&lt;br/&gt;Fall, 2003" rel="lightbox[portfolio]" href="images/iraq-war.jpg"><img alt="" src="images/thumbnails/iraq-war.jpg" height="80" width="80"></a><a title="Foreshortened Man&lt;br/&gt;24 x 30 in&lt;br/&gt;Charcoal on paper&lt;br/&gt;Spring, 2006" rel="lightbox[portfolio]" href="images/man-reading.jpg"><img alt="" src="images/thumbnails/man-reading.jpg" height="80" width="80"></a><a title="Face in Water&lt;br/&gt;30 x 24 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2006" rel="lightbox[portfolio]" href="images/face-in-water.jpg"><img alt="" src="images/thumbnails/face-in-water.jpg" height="80" width="80"></a><a title="Man Running&lt;br/&gt;30 x 24 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/unknown-1.jpg"><img alt="" src="images/thumbnails/unknown-1.jpg" height="80" width="80"></a><a title="Still Life&lt;br/&gt;30 x 40 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/still-life.jpg"><img alt="" src="images/thumbnails/still-life.jpg" height="80" width="80"></a><a title="Triple Still Life&lt;br/&gt;30 x 40 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2004" rel="lightbox[portfolio]" href="images/triple-still-life.jpg"><img alt="" src="images/thumbnails/triple-still-life.jpg" height="80" width="80"></a><a title="Iraqi War Memorial&lt;br/&gt;22 x 16 x 19 in&lt;br/&gt;Clay, plaster, wood, wire, and paper&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/Iraq-war-memorial-1.jpg"><img alt="" src="images/thumbnails/Iraq-war-memorial-1.jpg" height="80" width="80"></a><a title="Iraqi War Memorial&lt;br/&gt;22 x 16 x 19 in&lt;br/&gt;Clay, plaster, wood, wire, and paper&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/Iraq-war-memorial-2.jpg"><img alt="" src="images/thumbnails/Iraq-war-memorial-2.jpg" height="80" width="80"></a><a title="House on Stream&lt;br/&gt;3 x 16 x 21in&lt;br/&gt;Chipboard and colored pencil&lt;br/&gt;Spring, 2005" rel="lightbox[portfolio]" href="images/house-on-stream.jpg"><img alt="" src="images/thumbnails/house-on-stream.jpg" height="80" width="80"></a><a title="Big Lady (1)&lt;br/&gt;30 x 24 in&lt;br/&gt;Clay&lt;br/&gt;Spring, 2007" rel="lightbox[portfolio]" href="images/big-lady-1.jpg"><img alt="" src="images/thumbnails/big-lady-1.jpg" height="80" width="80"></a><a title="Bust&lt;br/&gt;30 x 24 in&lt;br/&gt;Clay&lt;br/&gt;Spring, 2007" rel="lightbox[portfolio]" href="images/bust.jpg"><img alt="" src="images/thumbnails/bust.jpg" height="80" width="80"></a><a title="Three panel screen&lt;br/&gt;30 x 24 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2007" rel="lightbox[portfolio]" href="images/three-pannel-screen-.jpg"><img alt="" src="images/thumbnails/three-pannel-screen-.jpg" height="80" width="80"></a><a title="People around tree&lt;br/&gt;30 x 24 in&lt;br/&gt;Clay&lt;br/&gt;Spring, 2007" rel="lightbox[portfolio]" href="images/people-around-tree.jpg"><img alt="" src="images/thumbnails/people-around-tree.jpg" height="80" width="80"></a><a title="People Flying&lt;br/&gt;30 x 24 in&lt;br/&gt;Oil on canvas&lt;br/&gt;Spring, 2007" rel="lightbox[portfolio]" href="images/people-flying-in-strange-pl.jpg"><img alt="" src="images/thumbnails/people-flying-in-strange-pl.jpg" height="80" width="80"></a>
 


<!-- big lady 1 jpeg -->

<a title="big lady 1"
 rel="lightbox[portfolio]" 
 href="images/big-lady-1a.jpg">
<img alt="" 
 src="images/thumbnails/big-lady-1a.jpg" 
 height="80"
 width="80">
</a>
<!-- big lady 2 jpeg -->
<a title="big lady 2"
 rel="lightbox[portfolio]"
 href="images/big-lady-2a.jpg">
<img alt=""
 src="images/thumbnails/big-lady-2a.jpg"
 height="80"
 width="80">
</a>
<!-- first person jpeg -->
<a title="first person"
 rel="lightbox[portfolio]" 
 href="images/first-persona.jpg">
<img alt="" 
 src="images/thumbnails/first-persona.jpg" 
 height="80"
 width="80">
</a>
<!-- thing 1 jpeg -->
<a title="thing 1"
 rel="lightbox[portfolio]" 
 href="images/thing-1a.jpg">
<img alt="" 
 src="images/thumbnails/thing-1a.jpg" 
 height="80"
 width="80">
</a>
<!-- tree 1 jpeg -->
<a title="tree 1"
 rel="lightbox[portfolio]" 
 href="images/tree-1a.jpg">

<img alt="" 
 src="images/thumbnails/tree-1a.jpg" 
 height="80"
 width="80">
</a>
<!-- tree 2 jpeg -->
<a title="tree 2"
 rel="lightbox[portfolio]" 
 href="images/tree-2a.jpg">
<img alt="" 
 src="images/thumbnails/tree-2a.jpg" 
 height="80"
 width="80">
</a>
<!-- triplet jpeg -->
<a title="triplet"
 rel="lightbox[portfolio]" 
 href="images/tripleta.jpg">
<img alt="" 
 src="images/thumbnails/tripleta.jpg" 
 height="80"
 width="80">
</a>
<!-- fight 1 jpeg -->
<a title="fight 1"
 rel="lightbox[portfolio]" 
 href="images/fight-1a.jpg">
<img alt="" 
 src="images/thumbnails/fight-1a.jpg" 
 height="80"
 width="80">
</a>
</body>
</html>

