<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<meta name="Generator" content="Microsoft Word 11 (filtered)">
<title>Rsume of Jonathan Watkins</title>   
<style><!--
 /* Font Definitions */
 @font-face
	{font-family:"Tms Rmn";
	panose-1:2 2 6 3 4 5 5 2 3 4;}
@font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:Garamond;
	panose-1:2 2 4 4 3 3 1 1 8 3;}
@font-face
	{font-family:"Arial Black";
	panose-1:2 11 10 4 2 1 2 2 2 4;}
@font-face
	{font-family:Times;
	panose-1:2 2 6 3 5 4 5 2 3 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	font-size:11.0pt;
	font-family:Garamond;}
h1
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:-1.5in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:11.5pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:1.0pt;
	font-weight:normal;}
h2
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:.25pt;
	font-weight:normal;}
h3
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:10.0pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:-.1pt;
	font-weight:normal;
	font-style:italic;}
h4
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:Garamond;
	letter-spacing:.25pt;
	font-weight:normal;
	font-style:italic;}
h5
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:9.0pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:1.0pt;}
h6
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	text-align:justify;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:-1.5in;
	text-align:justify;
	line-height:11.0pt;
	font-size:11.0pt;
	font-family:Garamond;
	text-transform:uppercase;}
p.MsoFooter, li.MsoFooter, div.MsoFooter
	{margin-top:11.0pt;
	margin-right:-42.0pt;
	margin-bottom:11.0pt;
	margin-left:-1.5in;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Garamond;
	text-transform:uppercase;}
p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	text-align:justify;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:.5in;
	text-align:justify;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.MsoDate, li.MsoDate, div.MsoDate
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	text-align:justify;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:Garamond;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:purple;
	text-decoration:underline;}
em
	{font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:0pt;
	font-style:normal;}
p.Achievement, li.Achievement, div.Achievement
	{margin-top:0in;
	margin-right:12.25pt;
	margin-bottom:3.0pt;
	margin-left:12.25pt;
	text-align:justify;
	text-indent:-12.25pt;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.Address1, li.Address1, div.Address1
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	line-height:8.0pt;
	font-size:7.5pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:1.5pt;}
p.Address2, li.Address2, div.Address2
	{margin:0in;
	margin-bottom:.0001pt;
	text-align:center;
	line-height:8.0pt;
	font-size:7.5pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:1.5pt;}
p.CompanyName, li.CompanyName, div.CompanyName
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.Institution, li.Institution, div.Institution
	{margin-top:3.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.JobTitle, li.JobTitle, div.JobTitle
	{margin-top:2.0pt;
	margin-right:0in;
	margin-bottom:2.0pt;
	margin-left:0in;
	font-size:11.5pt;
	font-family:Garamond;
	letter-spacing:.25pt;
	font-style:italic;}
p.Name, li.Name, div.Name
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:22.0pt;
	margin-left:0in;
	text-align:center;
	font-size:22.0pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:4.0pt;}
p.Objective, li.Objective, div.Objective
	{margin-top:3.0pt;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	text-align:justify;
	line-height:11.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.SectionTitle, li.SectionTitle, div.SectionTitle
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	border:none;
	padding:0in;
	font-size:10.0pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:.75pt;}
p.PersonalInfo, li.PersonalInfo, div.PersonalInfo
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:3.0pt;
	margin-left:12.25pt;
	text-align:justify;
	text-indent:-12.25pt;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.HeadingBase, li.HeadingBase, div.HeadingBase
	{margin-top:12.0pt;
	margin-right:0in;
	margin-bottom:12.0pt;
	margin-left:0in;
	text-align:justify;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:Garamond;
	text-transform:uppercase;}
p.HeaderBase, li.HeaderBase, div.HeaderBase
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:-1.5in;
	text-align:justify;
	line-height:11.0pt;
	font-size:11.0pt;
	font-family:Garamond;
	text-transform:uppercase;}
p.DocumentLabel, li.DocumentLabel, div.DocumentLabel
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	text-align:justify;
	font-size:24.0pt;
	font-family:Garamond;
	letter-spacing:-1.0pt;}
p.CityState, li.CityState, div.CityState
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:11.0pt;
	margin-left:0in;
	text-align:justify;
	line-height:12.0pt;
	page-break-after:avoid;
	font-size:11.0pt;
	font-family:Garamond;}
span.Lead-inEmphasis
	{font-family:"Arial Black";
	letter-spacing:-.3pt;}
p.SectionSubtitle, li.SectionSubtitle, div.SectionSubtitle
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	border:none;
	padding:0in;
	font-size:12.0pt;
	font-family:Garamond;
	letter-spacing:.5pt;
	font-style:italic;}
p.PersonalData, li.PersonalData, div.PersonalData
	{margin-top:0in;
	margin-right:.75in;
	margin-bottom:6.0pt;
	margin-left:-.75in;
	text-align:justify;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:Arial;
	font-style:italic;}
p.CompanyNameOne, li.CompanyNameOne, div.CompanyNameOne
	{margin-top:3.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:11.0pt;
	font-family:Garamond;}
p.NoTitle, li.NoTitle, div.NoTitle
	{margin-top:11.0pt;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:0in;
	margin-bottom:.0001pt;
	line-height:11.0pt;
	font-size:10.0pt;
	font-family:Garamond;
	text-transform:uppercase;
	letter-spacing:.75pt;}
@page Section1
	{size:8.5in 11.0in;
	margin:1.0in 1.25in 1.0in 1.25in;}
div.Section1
	{page:Section1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
--></style> 
</head>
<body lang="EN-US link"> 
<div class="Section1"> 
<div align="center"> 
<table style="width: 100%; border-collapse: collapse" width="100%" cellspacing="0" cellpadding="0" border="0" class="MsoNormalTable"><tbody><tr><td style="padding: 0in 5.4pt" valign="top">  
<p class="Address2">528 West 111th Street Apt. 87 • New York, New York 10025</p>   </td></tr><tr><td style="padding: 0in 5.4pt 0.2in" valign="top">  
<p class="Address1">Phone (212) 864-3595 • E-mail <a href="mailto:jonathan.watkins@att.net"><span style="color: windowtext; text-decoration: none">jonathan.watkins@att.net</span></a></p>  
<p class="Address1"><a title="Portfolio of Jonathan Watkins" href="http://jon-watkins.us">Web Portfolio</a><a title="Portfolio of Jonathan Watkins" href="http://jon-watkins.us"></a></p>   </td></tr></tbody></table>  </div> 
<p class="Name">Jonathan Watkins</p> 
<table style="border-collapse: collapse" cellspacing="0" cellpadding="0" border="0" class="MsoNormalTable"><tbody><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Education</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p class="CompanyName">2003 - 2007       Saint Ann’s School, Brooklyn, N.Y. </p>  
<p class="CompanyName">1993 - 2003       Abraham Joshua Heschel School, New York, N.Y.</p>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Summer Programs</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">2006    Carnegie Mellon    University, Pittsburgh, Pennsylvania - 6 week architecture program</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">2005    Rhode Island   School of Design, Providence, Rhode Island – 6 week Pre-College Art Program (Painting   Major)</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">2004    Putney   Excel Travel Program – 4 week program, Oxford/Paris/Florence – Painting and   History</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">2003    Parsons   School of Design, New York, N.Y. – 2 week drawing program</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="Objective">           All-Star Baseball Academy – 2 week program, New Paltz, New York</p>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Art Experience</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">2006     Ceramic   Sculpture and Intensive Painting – Saint Ann’s School            Fall; Saint Ann’s Calendar</p>  
<p class="MsoNormal">            Spring; Saint Ann’s Literary Magazine Cover</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">            Carnegie Mellon    University, Pittsburgh, Pennsylvania – 6 week Architecture program</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">2005     Rhode   Island School of Design, Providence, Rhode Island – 6 week Pre- College Art   Experience Painting Major (Summer)</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">            Intensive   Painting, Architecture, Figure Drawing – Saint Ann’s School</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">2004     Putney   Excel Travel Program – 4 week Drawing Class(Summer)</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">            Architecture,   Painting and Drawing Classes – Saint Ann’s School</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">2003     Parsons   School of Design, New York, N.Y. – Drawing Class (Summer)</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">            Fall;   Saint Ann’s Arts Calendar Cover</p>  
<p style="margin-left: 35pt; text-indent: -35pt" class="MsoNormal">            Sculpture,   Painting and Drawing Classes – Saint Ann’s School</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal"> </p>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Athletics</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p class="MsoNormal"><strong>Baseball</strong></p>  
<p style="margin-left: 35pt; text-align: left; text-indent: -33pt" align="left" class="MsoNormal">2007    (projected) Saint Ann’s School – Varsity   Baseball : Captain/Catcher/Left Field</p>  
<p style="margin-left: 35pt; text-align: left; text-indent: -33pt" align="left" class="MsoNormal">2006    Saint Ann’s School – Varsity  Baseball :   Catcher/Left Field</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">           TPX   Showcase; Lowell, Massachusetts (August)</p>  
<p style="margin-left: 2pt; text-align: left" align="left" class="MsoNormal">2005    Saint Ann’s School – Varsity Baseball : Catcher/Left Field</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">2004    Saint Ann’s School  Junior Varsity Baseball : Catcher/Left Field</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">           JV   All – Conference Team</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">           New York Giants (Summer League)</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">2003    West Side Little League (Spring)</p>  
<p style="margin-left: 35pt; text-indent: -33pt" class="MsoNormal">           All-Star Baseball Academy, New Paltz, New York (2 week summer program)</p>  
<p class="MsoNormal"><strong>Soccer</strong></p>  
<p class="MsoNormal">2006 -2004        Varsity Soccer</p>  
<p class="MsoNormal">2003                 Junior Varsity Soccer</p>  
<p class="MsoNormal"><strong>Basketball</strong></p>  
<p class="MsoNormal">2004                 Junior Varsity Basketball</p>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Community Service</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p class="MsoNormal">Congregation B’nai Jeshurun – Reading Haftorah for   Services</p>  
<p class="MsoNormal">Eldridge Street Synagogue Restoration Project – 2004</p>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle"> </p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Hobbies</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p class="MsoNormal">Certified PADI Scuba Diver</p>  
<p class="MsoNormal">Expert Level Skier</p>  
<p class="MsoNormal">Golf</p>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 441pt" width="588" valign="top" colspan="2">  
<div style="border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color gray; border-width: medium medium 1pt; padding: 0in 0in 1pt">  
<p class="SectionTitle">Extracurricular activities</p>   </div>   </td></tr><tr><td style="padding: 0in 5.4pt; width: 1.5in" width="144" valign="top">  
<p class="MsoNormal"> </p>   </td><td style="padding: 0in 5.4pt; width: 333pt" width="444" valign="top">  
<p class="MsoNormal">2006     Saint Ann’s Model Congress, New York, N.Y.   Committee Chair 2005     Princeton Model Congress Washington, D.C.</p>  
<p class="MsoNormal">2004 - 2003       Private Classical Trumpet Instruction</p>  
<p class="MsoNormal">            Jazz Tech Ensemble (2004)</p>  
<p class="MsoNormal"> </p>   </td></tr></tbody></table> 
<p class="MsoNormal"> </p>  </div> 
</body>
</html>